#!/bin/bash
# script to turn set password nag way into the future

# we'd like the user of this script to have root privilege
if [ "$(id -u)" != "0" ]; then
    echo "This script must be run as root" 1>&2
    exit 1
fi

chage -M 99999 -m 0 -I -1 -E -1 {{ weakuser }}
touch /home/{{ weakuser }}/.disable_pw_nag
